.App {
  text-align: center;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
}

.field{
  position: relative;
  height: 100%;
  width: 100%;
}


.cell{
  position: absolute;
  box-sizing: border-box;
  border-color: rebeccapurple;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.1rem;
}

